@font-face {
  font-family: 'DM-Ukraina';
  src: url('../fonts/DM-Ukraina.woff2') format('woff2'), url('../fonts/DM-Ukraina.woff') format('woff'), url('../fonts/DM-Ukraina.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}