@import "reset.css";
@import "fonts.css";

:root {
  --color-primary: #324A66;
  --color-accent: #F7E67C;
  --color-background: #1F2E40;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}


body {
  font-family: "DM-Ukraina", sans-serif;
  color: var(--color-primary);
  background: var(--color-background);
  user-select: none;
  line-height: 1.5
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition-duration: 300ms;
  border: 1px solid transparent;
  cursor: pointer;
}

button:focus-visible {
  border: transparent;
  outline: none;
  box-shadow: none;
}

button:focus {
  border: transparent;
  outline: none;
  box-shadow: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.start-page, .end-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--color-background);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.start-page__text {
  font-size: 4vh;
  color: var(--color-accent);
  margin-bottom: 4vh;
}

.start-page__characters {
  display: flex;
}

.start-page__field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 30vh;
  max-width: 40vw;
  max-height: 40vw;
  cursor: pointer;
  margin: 1vh;
  background: var(--color-primary);
  border-radius: 10px;
  transition-duration: 300ms;
}

.start-page__field:hover {
  background: var(--color-accent);
}

.start-page__img {
  max-width: calc(100% - 5vh);
  max-height: calc(100% - 5vh);
}

.result-text {
  color: var(--color-accent);
  font-size: 2vh;
  margin-bottom: 2vh;
}

.end-page {
  z-index: 4;
  display: none;
}

.end-page__result {
  color: var(--color-accent);
  font-size: 5vh;
  margin-bottom: 4vh;
}

.end-page__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-accent);
  background: var(--color-primary);
  color: var(--color-accent);
  border-radius: 10px;
  overflow: hidden;
  height: 6vh;
  transition-duration: 300ms;
  cursor: pointer;
  font-size: 2.5vh;
  padding: 1vh 4vh 0 4vh;
}

.end-page__button:hover {
  background: var(--color-background);
}

.battleground {
  width: 75vh;
  height: 75vh;
  max-width: calc(100vw - 20px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4vh repeat(5, 1fr);
  grid-template-rows: 4vh repeat(5, 1fr);
  margin-bottom: 5vh;
}

.battleground__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
  background: var(--color-primary);
  font-size: 2vh;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition-duration: 300ms;
  overflow: hidden;
}

.battleground__item:hover {
  background: var(--color-accent);
  color: var(--color-primary);
}

.battleground__item:first-child {
  background: transparent;
  cursor: auto;
}

.battleground__item_select {
  background: var(--color-accent);
}

.battleground__text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

.battleground__text_rotate {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-right: 1vh;
}

.battleground__field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.battleground__field_flash {
  animation-duration: 1s;
  animation-name: flash;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {
    background: var(--color-primary);
  }

  50% {
    background: var(--color-accent);
  }

  100% {
    background: var(--color-primary);
  }
}

.battleground__img {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 20px);
}

.speak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-accent);
  background: var(--color-primary);
  color: var(--color-accent);
  border-radius: 10px;
  overflow: hidden;
  height: 6vh;
  transition-duration: 300ms;
}

.speak:hover {
  cursor: pointer;
  background: var(--color-background);
}

.speak__text {
  padding: 1vh 3vh 0 3vh;
  font-size: 2.5vh;
}

.speak__icon {
  width: 7vh;
  height: 100%;
  background: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.speak__img {
  height: calc(100% - 2vh)
}

.speak__img_blink {
  animation: blink 1000ms infinite ease-in;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
